<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your Website</title>
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/header.css" rel="stylesheet"/>

    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Cormorant:400,500|EB+Garamond|Ledger|Ubuntu+Mono" rel="stylesheet">


</head>

<body ng-app="app" ng-controller="mainController">
<div id="main-frame">
    <header>
        <div id="logo">
            <div class="design-text">Design</div>
            <div class="patterns-text">Patterns</div>
        </div>
        <ul>
            <li><a>Статьи</a></li>
            <li><a>Услуги</a></li>
            <li><a>Обо мне</a></li>
        </ul>
    </header>

    <div class="topic-wrapper" ng-repeat="article in articles">
        <div class="topic">
            <div class="title">

                <div class="article-name">{{ article.name }}</div>
                <div class="tags" ng-repeat="tag in article.tags">
                    <div class="tag">{{ tag.name }}</div>
                </div>
                <div class="time">{{ articleService.format(article.creationDate) }}</div>

            </div>
            <div class="topic-content">{{ article.preview }}</div>
            <div class='read-all-btn'
                 onclick="window.location='../../static/html/concret.html'">

                <div class="read-fully">Читать</div>
            </div>
        </div>

    </div>
</div>
</body>
</html>