<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your Website</title>
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/commons.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Merriweather:400|EB+Garamond" rel="stylesheet">

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/jquery-3.1.1.min.js"></script>
    <script src="js/header.js"></script>


    <script src="js/main.js"></script>

</head>

<body ng-app="app" ng-controller="mainController" ng-cloak>
<div id="main-frame">
    <div ng-include src="'html/header.html'"></div>
    <div>
        <div class="tag-filter" ng-hide="filterTag == null">
            Показаны только статьи, имеющие тэг <div class="tag small-tag"> {{ filterTag }}</div>
        </div>
    </div>
    <div class="topic-wrapper" ng-repeat="article in articles">
        <div class="topic">
            <div class="title">

                <div class="article-name">{{ article.name }}</div>
                <div class="tags" ng-repeat="tag in article.tags">
                    <div class="tag">{{ tag.name }}</div>
                </div>
                <div class="time">{{ articleService.format(article.creationDate) }}</div>

            </div>
            <div class="topic-content">{{ article.preview }}</div>
            <div class='read-all-btn'
                 onclick="window.location='concrete.html'">

                <div class="read-fully">Читать</div>
            </div>
        </div>

    </div>
</div>
</body>
</html>