<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your Website</title>
    <link href="css/concrete.css" rel="stylesheet"/>
    <link href="css/commons.css" rel="stylesheet"/>
    <link href="css/code.css" rel="stylesheet"/>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/jquery-3.1.1.min.js"></script>
    <script src="js/header.js"></script>

    <script src="js/article-app-starter.js"></script>
    <script src="js/service/article-service.js"></script>
    <script src="js/controller/concrete-article-controller.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Merriweather:400|EB+Garamond" rel="stylesheet">
</head>

<body ng-app="app" ng-cloak ng-controller="articleController as $ctrl">
<div id="main-frame">
    <div ng-include src="'html/header.html'"></div>
    <div id="wrapper">
        <div class="topic">
            <div class="title">
                <div class="article-name"> {{ $ctrl.article.name }}</div>
                <div class="tags">
                    <div class="tag" ng-click="tagService.clicked(tag.name)" ng-repeat="tag in $ctrl.article.tags">
                        {{ tag.name }}
                    </div>
                </div>
                <div class="time">{{ $ctrl.articleService.format($ctrl.article.creationDate) }}</div>
            </div>
            <div class="topic-content">


                Абстрактная фабрика (англ. Abstract factory) — порождающий шаблон проектирования, предоставляет интерфейс для создания семейств взаимосвязанных или взаимозависимых объектов, не специфицируя их конкретных классов. Шаблон реализуется созданием абстрактного класса Factory, который представляет собой интерфейс для создания компонентов системы (например, для оконного интерфейса он может создавать окна и кнопки). Затем пишутся классы, реализующие этот интерфейс.<br><br>
                <div>

                </div>
                Система не должна зависеть от того, как создаются, компонуются и представляются входящие в неё объекты.
                Входящие в семейство взаимосвязанные объекты должны использоваться вместе и вам необходимо обеспечить выполнение этого ограничения.
                Система должна конфигурироваться одним из семейств составляющих её объектов.
                Требуется предоставить библиотеку объектов, раскрывая только их интерфейсы, но не реализацию.<br><br>

                Абстрактная фабрика (англ. Abstract factory) — порождающий шаблон проектирования, предоставляет интерфейс для создания семейств взаимосвязанных или взаимозависимых объектов, не специфицируя их конкретных классов. Шаблон реализуется созданием абстрактного класса Factory, который представляет собой интерфейс для создания компонентов системы (например, для оконного интерфейса он может создавать окна и кнопки). Затем пишутся классы, реализующие этот интерфейс.<br><br>
                <div>

                </div>
                Система не должна зависеть от того, как создаются, компонуются и представляются входящие в неё объекты.
                Входящие в семейство взаимосвязанные объекты должны использоваться вместе и вам необходимо обеспечить выполнение этого ограничения.
                Система должна конфигурироваться одним из семейств составляющих её объектов.
                Требуется предоставить библиотеку объектов, раскрывая только их интерфейсы, но не реализацию.<br><br>

                <div id="code-editor">
                    <div class="code-menu">
                        <ul>
                            <li>
                                AbstractFactory
                            </li>
                            <li  >
                                ConcretFactory
                            </li>
                            <li class="active">
                                AbstractProduct
                            </li>
                            <li>
                                ConcretProduct
                            </li>
                        </ul>
                    </div>
                    <div class="class">
  <pre><div class="code" ng-bind-html="$ctrl.code.classes[0].code">

</div></pre>
                    </div>
                </div>

            </div>

        </div>
        <h2 class="comment-section">Комментарии:</h2>
        <div class="comment-area" tabindex="0" role="textbox" aria-multiline="true" contenteditable="PLAINTEXT-ONLY"
             data-role="editable" style="overflow: auto; max-height: 350px;"><br></div>
        <div class="name-section-text">Ваше имя:</div>
        <input class="user-name">
        <div class="send-btn">Отправить</div>
        <div class="comments">
            <div class="comment">
                <div class="commenter-name">Александр</div>
                <div class="time">12.06.16</div>
                <div class="comment-left">
                    Привет, Иван! Огромное спасибо.<br>
                    Мне нравится!
                </div>
                <div class="comment">
                    <div class="commenter-name">Иван</div>
                    <div class="time">12.06.16</div>
                    <div class="comment-left">
                        Привет, Алекс! Спасибо и тебе :)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>